---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/organisms/HeroSection.astro';
import ServicesGrid from '../components/organisms/ServicesGrid.astro';
import CoursesSection from '../components/organisms/CoursesSection.astro';
import Gallery from '../components/organisms/Gallery.astro';
import InfoCardSection from '../components/organisms/InfoCardSection.astro';
import Footer from '../components/organisms/Footer.astro';
---

<Layout>
	<main>
		<!-- Hero Section -->
		<HeroSection />

		<!-- Services Section -->
		<ServicesGrid />

		<!-- Courses Section -->
		<CoursesSection />

		<!-- Gallery Section -->
		<Gallery />

		<!-- Info Section -->
		<InfoCardSection />

		<!-- New Footer Component -->
		<Footer />
	</main>
</Layout>
