---
import { getCollection } from "astro:content";
import ServiceCard from "./ServiceCard.astro";
import SectionHeader from "./SectionHeader.astro";

const services = await getCollection("services");
const sortedServices = services.sort((a, b) => a.data.order - b.data.order);
---

<section id="servicios" class="py-24 bg-ui-bg-light relative overflow-hidden">
  <div
    class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 w-96 h-96 bg-brand-primary/10 rounded-full blur-3xl"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 translate-y-1/2 -translate-x-1/2 w-96 h-96 bg-brand-secondary/10 rounded-full blur-3xl"
  >
  </div>

  <div class="container relative z-10">
    <div class="flex flex-col items-center gap-4 mb-16">
      <SectionHeader title="Nuestra Carta de Servicios" centered={true} />
      <span class="w-16 h-0.5 bg-brand-primary rounded-full"></span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        sortedServices.map((service) => (
          <ServiceCard {...service.data} variant="primary" />
        ))
      }
    </div>
  </div>
</section>
