---
import "../styles/global.css";
import clsx from "clsx";
import Header from "../components/Header.astro";

interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const { 
	title = "Con Hilo Depilo | Estética K-Beauty", 
	description = "Definición natural con técnica coreana para un arco perfecto.",
	class: className 
} = Astro.props;
---

<!doctype html>
<html lang="es" class="h-full scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class={clsx("min-h-full font-sans bg-ui-bg-light text-ui-text-main antialiased selection:bg-brand-primary/30", className)}>
		<Header />
		<slot />
	</body>
</html>
